<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title data-template="config:app-title">App Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta data-template="config:app-meta"/>


        <link rel="shortcut icon" href="resources/images/jmmc_favicon.ico"/>

        <link rel="stylesheet" type="text/css" href="resources/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/bootstrap-icons/font/bootstrap-icons.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/style.css"/>

        <script type="text/javascript" src="resources/scripts/jquery.min.js"/>
        <script type="text/javascript" src="resources/scripts/bootstrap.bundle.min.js"/>
    </head>
    <body id="body" data-template="jmmc-about:changelog">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" data-template="jmmc-web:navbar-li">JMMC</a>
                <!--
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"/>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Releases
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li>
                                    <a class="dropdown-item" href="index.html"> <i class="bi-house"/> Home page</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="about.html"> <i class="bi-info-circle"/> About</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">
                                <i class="bi-house"/> Home</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                    <li data-template="app:dyn-nav-li"/>
                    <li class="navbar-nav">
                    <a class="nav-link" href="about.html">
                        V.<span data-template="jmmc-about:version"/>&#160;<span data-template="jmmc-about:status"/>
                    </a>
                    </li>
                    </ul>
                </div>
            -->
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div id="content" class="col-md-12"/>
            </div>
        </div>

        <footer>
             <div class="poweredby">
                <a href="https://www.jmmc.fr">
                    <img src="https://www.jmmc.fr/IMG/siteon0.png?1568820294" alt="Powered by JMMC"/>
                </a>
                <a href="http://exist-db.org">
                    <img src="resources/images/powered-by.svg" alt="Powered by eXist-db"/>
                </a>
            </div>
        </footer>
    </body>
</html>
